.shadowWallpaper {

    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: radial-gradient(circle, rgba(0,0,0,0.2),  rgba(0,0,0,0.85));
}

.Container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 30rem;
    height: 30rem;

    background-color: #fff;

    h1{
        color: #000;
    }
}