.SocialButton {

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1rem 0rem;
    padding: 1.2rem;


    background-color: #f5f5f5;

    color: #000;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 400;

    cursor: pointer;
    transition-duration: 0.4s;

    svg{
        display: block;
    }

    &:hover {
        background-color: #555555;
        color: white;
    }
    &:active {
        background-color: #555555;
        color: white;
    }
    &:focus {
        outline: none;
    }
    &:disabled {
        background-color: #f5f5f5;
        color: #000;
    }
}

.SocialButton.linkedin:hover {
    background-color: #0077B5; /* Color de LinkedIn */
  }
  
  .SocialButton.instagram:hover {
    background-color: #C13584; /* Color de Instagram */
  }
  
  .SocialButton.github:hover {
    background-color: #333; /* Color de GitHub */
  }
  
  .SocialButton.whatsapp:hover {
    background-color: #25D366; /* Color de WhatsApp */
  }
  
  .SocialButton.mail:hover {
    background-color: #D44638; /* Color de Mail */
  }